@import url(http://fonts.googleapis.com/css?family=Cantata+One);

body {
	background-image: url(images/itap_image.jpg) repeat;
	/*width: 1170px;
	margin: auto;*/
}

/* Extends the width of the nav bar to 100% of the screen*/

.headfullwidth {
	width: 100%;
	background: #A88A62;
	text-align: center;
}

/* These sections control the navigation bar*/

.navbar {
	float: left;
	margin: 5px;
	padding: 1em;
	text-align: center;
}

nav a{
	margin-right: 1em;
	font-family: Cantata One;
	font-size: 2em;
	font-weight: bold;
	color: #965E31;
	text-decoration: none;
}

nav a:hover {
	color: #FFCF00;
	text-decoration: none;
}

nav a:active {
	background: #FFCF00;
}

/* This covers all of the inner divs so that they are all centered on the page*/

.container {
	text-align: center;
}

/* Contols the banner image at the top of the page*/

#banner {
	margin: 15px 0;
}

.description {
	font-size: 1em;
	color: #965E31;
	margin-top: .5em;
}

/*Wraps the content in a solid color*/

#content_container {
	background-color: #2b1e01;
}

/*This controls the look of the locations and addresses */

.location {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Cantata One;
	text-transform: uppercase;
	background: #A88A62;
	padding: 5px;
}

.location a {
	color: #965E31;
}

.location a:hover {
	text-decoration: none;
}

/*This controls just the address and phone for each location*/

.address {
	color: #A88A62;
	padding: .5em;
}

.phone {
	color: #A88A62;
	margin-top: -10px;
}

.verticalLine {
    border-top: thick solid black;
}

/*This controls the look of the footer which spans the length of the website*/

#footer {
	text-align: center;
	color: white;
	width: 100%;
	background: #A88A62;
}

#footer a{
	margin-right: 1em;
	font-size: 1em;
	font-weight: bold;
	color: #965E31;
	text-decoration: none;
}