body {
	background: #331E02;
}

.headfullwidth {
	width: 100%;
	background: #
	opacity: .5;
}

.navbar {
	float: left;
	margin: 5px;
	margin-top: 5px;
}

.container {
	text-align: center;
}

nav a{
	margin-right: 1em;
	font-size: 2.2em;
	font-weight: bold;
	color: #AD8939;
	text-decoration: none;
}

nav a:hover {
	color: #FFCF00;
	text-decoration: none;
}

nav a:active {
	background: #FFCF00
}

h1 {
	text-align: center;
	font-weight: ;
}
.description {
	font-size: 1em;
	color: white;
}

.location {
	font-size: 2em;
	font-weight: bold;
	color: #FFCF00;
}